# Project 1

##  Import the required libraries and dependencies.

In [75]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import playsound as ps
import os
from MCForecastTools import MCSimulation

## Collect the Data.

In [76]:
csvpath = Path("Resources/combined_ETH_BTC.csv")
combined = pd.read_csv((csvpath),
    parse_dates=True,
    infer_datetime_format=True)

#bitcoin.drop(['unix', 'Volume USD'], axis=1, inplace=True)
#bitcoin = bitcoin.set_axis(['Symbol','Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
#bitcoin.index.names = ['Date']

In [77]:
combined

,ETH,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,BTC,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,unix,date,symbol,open,high,low,close,Volume ETH,Volume USD,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
1,1642377600,1/17/2022 0:00,ETH/USD,3350.15,3360.29,3332.71,3333.88,230.7172605,769183.6603,1642464000,1/18/2022 0:00,BTC/USD,42230.09,42358.39,42158.97,42336.3,7.87556255,333422.1788
2,1642291200,1/16/2022 0:00,ETH/USD,3328.95,3393.66,3274.92,3350.15,8990.626218,30119946.42,1642377600,1/17/2022 0:00,BTC/USD,43099.08,43209.47,41581,42255.07,1060.009388,44790770.89
3,1642204800,1/15/2022 0:00,ETH/USD,3311.54,3374.83,3262.94,3329.71,7400.861903,24642723.89,1642291200,1/16/2022 0:00,BTC/USD,43084.77,43495.59,42615,43107.7,621.9530273,26810964.52
4,1642118400,1/14/2022 0:00,ETH/USD,3241.82,3344.31,3188.89,3308.82,13612.56912,45041540.94,1642204800,1/15/2022 0:00,BTC/USD,43085.76,43826.8,42387.86,43102.01,707.658523,30501504.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417478400,12/2/2014 0:00,BTC/USD,378.39,382.86,375.23,379.25,2593576.46,6832.53
2606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417392000,12/1/2014 0:00,BTC/USD,376.4,382.31,373.03,378.39,2520662.37,6660.56
2607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417305600,11/30/2014 0:00,BTC/USD,376.57,381.99,373.32,373.34,1145566.61,3046.33
2608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417219200,11/29/2014 0:00,BTC/USD,376.42,386.6,372.25,376.72,2746157.05,7245.19
2609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417132800,11/28/2014 0:00,BTC/USD,363.59,381.34,360.57,376.28,3220878.18,8617.15

In [78]:
new_header = combined.iloc[0] #grab the first row for the header
combined = combined[1:] #take the data less the header row
combined.columns = new_header #set the header row as the df header

In [79]:
combined

,unix,date,symbol,open,high,low,close,Volume ETH,Volume USD,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
1,1642377600,1/17/2022 0:00,ETH/USD,3350.15,3360.29,3332.71,3333.88,230.7172605,769183.6603,1642464000,1/18/2022 0:00,BTC/USD,42230.09,42358.39,42158.97,42336.3,7.87556255,333422.1788
2,1642291200,1/16/2022 0:00,ETH/USD,3328.95,3393.66,3274.92,3350.15,8990.626218,30119946.42,1642377600,1/17/2022 0:00,BTC/USD,43099.08,43209.47,41581,42255.07,1060.009388,44790770.89
3,1642204800,1/15/2022 0:00,ETH/USD,3311.54,3374.83,3262.94,3329.71,7400.861903,24642723.89,1642291200,1/16/2022 0:00,BTC/USD,43084.77,43495.59,42615,43107.7,621.9530273,26810964.52
4,1642118400,1/14/2022 0:00,ETH/USD,3241.82,3344.31,3188.89,3308.82,13612.56912,45041540.94,1642204800,1/15/2022 0:00,BTC/USD,43085.76,43826.8,42387.86,43102.01,707.658523,30501504.73
5,1642032000,1/13/2022 0:00,ETH/USD,3372.33,3412.76,3230.7,3241.82,21742.71684,70485974.29,1642118400,1/14/2022 0:00,BTC/USD,42579.44,43468.95,41782.21,43102.35,1386.832758,59775750.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417478400,12/2/2014 0:00,BTC/USD,378.39,382.86,375.23,379.25,2593576.46,6832.53
2606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417392000,12/1/2014 0:00,BTC/USD,376.4,382.31,373.03,378.39,2520662.37,6660.56
2607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417305600,11/30/2014 0:00,BTC/USD,376.57,381.99,373.32,373.34,1145566.61,3046.33
2608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417219200,11/29/2014 0:00,BTC/USD,376.42,386.6,372.25,376.72,2746157.05,7245.19
2609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417132800,11/28/2014 0:00,BTC/USD,363.59,381.34,360.57,376.28,3220878.18,8617.15

In [80]:
combined
combined.drop(columns=['unix','open','high','low','Volume ETH','Volume USD','Volume BTC','symbol'],inplace=True)

C:\Users\owner\anaconda3\envs\dev\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [81]:
combined

0               date    close             date     close
1     1/17/2022 0:00  3333.88   1/18/2022 0:00   42336.3
2     1/16/2022 0:00  3350.15   1/17/2022 0:00  42255.07
3     1/15/2022 0:00  3329.71   1/16/2022 0:00   43107.7
4     1/14/2022 0:00  3308.82   1/15/2022 0:00  43102.01
5     1/13/2022 0:00  3241.82   1/14/2022 0:00  43102.35
...              ...      ...              ...       ...
2605             NaN      NaN   12/2/2014 0:00    379.25
2606             NaN      NaN   12/1/2014 0:00    378.39
2607             NaN      NaN  11/30/2014 0:00    373.34
2608             NaN      NaN  11/29/2014 0:00    376.72
2609             NaN      NaN  11/28/2014 0:00    376.28

[2609 rows x 4 columns]

In [82]:
#combined.columns=[('ETH','date'),('ETH','close'),('BTC','date'),('BTC','close')]
arrays = [['ETH', 'ETH', 'BTC', 'BTC'], ['date', 'close', 'date', 'close']]
combined.columns=pd.MultiIndex.from_arrays(arrays)
#combined([(1,  'date'),
 #           (1, 'close'),
  #          (2,  'date'),
   #         (2, 'close')])
          # names=['ETH', 'BTC'])

In [83]:
combined

                 ETH                       BTC
                date    close             date     close
1     1/17/2022 0:00  3333.88   1/18/2022 0:00   42336.3
2     1/16/2022 0:00  3350.15   1/17/2022 0:00  42255.07
3     1/15/2022 0:00  3329.71   1/16/2022 0:00   43107.7
4     1/14/2022 0:00  3308.82   1/15/2022 0:00  43102.01
5     1/13/2022 0:00  3241.82   1/14/2022 0:00  43102.35
...              ...      ...              ...       ...
2605             NaN      NaN   12/2/2014 0:00    379.25
2606             NaN      NaN   12/1/2014 0:00    378.39
2607             NaN      NaN  11/30/2014 0:00    373.34
2608             NaN      NaN  11/29/2014 0:00    376.72
2609             NaN      NaN  11/28/2014 0:00    376.28

[2609 rows x 4 columns]

In [4]:
csvpath_2 = Path("Resources/ethereum.csv")
ethereum = pd.read_csv((csvpath_2),
    index_col = "date",
    parse_dates=True,
    infer_datetime_format=True,)
ethereum.drop(['unix', 'Volume USD'], axis=1, inplace=True)
ethereum = ethereum.set_axis(['Symbol','Open', 'High', 'Low', 'Close', 'Volume'], axis=1)
ethereum.index.names = ['Date']

In [20]:
ethereum

             Symbol    Close
Date
2022-01-17  ETH/USD  3333.88
2022-01-16  ETH/USD  3350.15
2022-01-15  ETH/USD  3329.71
2022-01-14  ETH/USD  3308.82
2022-01-13  ETH/USD  3241.82
...             ...      ...
2017-11-12  ETH/USD   306.10
2017-11-11  ETH/USD   315.76
2017-11-10  ETH/USD   298.66
2017-11-09  ETH/USD   321.32
2017-11-08  ETH/USD     0.00

[1532 rows x 2 columns]

In [6]:
initial_investment = 25000

## Prepare the Data.

In [7]:
bitcoin = bitcoin.dropna()
bitcoin = bitcoin.drop_duplicates()
bitcoin.drop(columns=['Open', 'High', 'Low', 'Volume'], inplace=True)

In [14]:
ethereum.dropna(inplace=True)
ethereum = ethereum.drop_duplicates()
ethereum.drop(columns=['Open', 'High', 'Low', 'Volume'], inplace=True)

## Analyze the Data.

#### Find the current prices for Ethereum and Bitcoin.

In [15]:
eth_price = ethereum["Close"][0]
print(f'The current price of ethereum is ${eth_price}')

The current price of ethereum is $3333.88

In [16]:
bit_price = bitcoin["Close"][0]
print(f'The current price of bitcoin is ${bit_price}')

The current price of bitcoin is $42336.3

#### Join the ethereum and bitcoin dataframes into one dataframe.

In [21]:
crypto = ethereum.join(bitcoin)
crypto

ValueError: columns overlap but no suffix specified: Index(['Symbol', 'Close'], dtype='object')

In [12]:
crypto = pd.merge(left = ethereum, right = bitcoin, on = "Date")
crypto

,Symbol_x,Open,High,Low,Close_x,Volume,Symbol_y,Close_y
Date,,,,,,,,
2022-01-17,ETH/USD,3350.15,3360.29,3332.71,3333.88,2.307173e+02,BTC/USD,42255.07
2022-01-16,ETH/USD,3328.95,3393.66,3274.92,3350.15,8.990626e+03,BTC/USD,43107.70
2022-01-15,ETH/USD,3311.54,3374.83,3262.94,3329.71,7.400862e+03,BTC/USD,43102.01
2022-01-14,ETH/USD,3241.82,3344.31,3188.89,3308.82,1.361257e+04,BTC/USD,43102.35
2022-01-13,ETH/USD,3372.33,3412.76,3230.70,3241.82,2.174272e+04,BTC/USD,42571.94
...,...,...,...,...,...,...,...,...
2017-11-12,ETH/USD,315.76,318.98,300.11,306.10,1.485482e+07,BTC/USD,5870.37
2017-11-11,ETH/USD,298.66,322.19,298.00,315.76,7.328432e+06,BTC/USD,6355.13
2017-11-10,ETH/USD,321.32,325.61,291.00,298.66,1.058054e+07,BTC/USD,6588.18
2017-11-09,ETH/USD,322.15,331.70,317.29,321.32,4.270935e+06,BTC/USD,7148.00
2017-11-08,ETH/USD,0.00,0.00,0.00,0.00,0.000000e+00,BTC/USD,7450.32

In [13]:
frames = ([ethereum, bitcoin])
crypto = pd.concat(frames, keys=['ETH',"BIT"])
crypto

                 Symbol     Open     High      Low    Close        Volume
    Date
ETH 2022-01-17  ETH/USD  3350.15  3360.29  3332.71  3333.88    230.717260
    2022-01-16  ETH/USD  3328.95  3393.66  3274.92  3350.15   8990.626218
    2022-01-15  ETH/USD  3311.54  3374.83  3262.94  3329.71   7400.861902
    2022-01-14  ETH/USD  3241.82  3344.31  3188.89  3308.82  13612.569116
    2022-01-13  ETH/USD  3372.33  3412.76  3230.70  3241.82  21742.716835
...                 ...      ...      ...      ...      ...           ...
BIT 2014-12-02  BTC/USD      NaN      NaN      NaN   379.25           NaN
    2014-12-01  BTC/USD      NaN      NaN      NaN   378.39           NaN
    2014-11-30  BTC/USD      NaN      NaN      NaN   373.34           NaN
    2014-11-29  BTC/USD      NaN      NaN      NaN   376.72           NaN
    2014-11-28  BTC/USD      NaN      NaN      NaN   376.28           NaN

[4136 rows x 6 columns]